<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles/styles.css">
        <title>
            ZACS RANSACK
        </title>
    </head>
    <body>
        <div id="content">
            <h1> WELCOME TO ZACS RANSACK </h1>
            <div id="directory">
                <p> THIS IS WHERE SCRIMS GO </p>
            </div>
        </div>
    </body>
</html>