body {
    text-align: center;
    background-image: url("../ashe.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
}

.container {
    display: inline-block;
    background-color: #deedff !important;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid #021552;
}

#content {
    display: flex;
    justify-content: center;
}

#directory {
    text-align: center;
}

th {
    padding: 5px;
}
td {
    padding: 5px;
}
table {
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: white !important;
}

input {
    margin-right: 15px;
    margin-bottom: 15px;
}